# Class 1

## Python Get started

In [1]:
print("Hello, World!")

Hello, World!

## Python Syntax

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

## Python Comments

In [3]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [4]:
print("Hello, World!") #This is a comment

Hello, World!

In [5]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [6]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Python Variables

*   Python variables

In [8]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [10]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [11]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [12]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
x = "John"
print(type(x))
# is the same as
x = 'John'
print(type(x))

<class 'str'>
<class 'str'>

In [14]:
a = 4
A = "Sally"
#A will not overwrite a, because it's case-sensitive
print(a)
print(A)

4
Sally

*   Variable names

In [15]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [16]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

In [17]:
#Camel Case:
myVariableName = "John"

In [18]:
#Pascal Case
MyVariableName = "John"

In [19]:
#Snake Case:
my_variable_name = "John"

*   Assign multiple variables

In [20]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [21]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [22]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

*   Output variables

In [23]:
x = "Python is awesome"
print(x)

Python is awesome

In [24]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [25]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [26]:
x = 5
y = 10
print(x + y)

15

In [27]:
#It will reproduce an error:
x = 5
y = "John"
print(x + y)

TypeError: ignored

In [28]:
x = 5
y = "John"
print(x, y)

5 John

*   Global variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [29]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [30]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Obs: in the next two exercises the x will be global, and in the second it will substitute the x for "fantastic".

In [31]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [32]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Python If ... Else

*   Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b


Greater than or equal to: a >= b

*   If:

In [33]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

*   Elif:

In [34]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

*   Else:

In [35]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Python requires a structure, so you can't invert the if, elif, else.

In [36]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

*   Condional statements:


1.   And
2.   Or
3.   Not
4.   Nested if

1.   And

In [37]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

2.   Or

In [38]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

3.   Not

In [39]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

4.   Nested if

In [40]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!